/* Container holding the image and the text */
.container {
    position: relative;
    
  }
  
  /* Bottom right text */
  .text-block {
    margin: auto;
    display:block;
    text-align: center;
  }