<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<!-- Segment with default selection -->
<ion-segment (ionChange)="segmentChanged($event)" value="javascript">
  <ion-segment-button value="playlists">
    <ion-label>Playlists</ion-label>
  </ion-segment-button>
  <ion-segment-button value="artists">
    <ion-label>Artists</ion-label>
  </ion-segment-button>
</ion-segment>
  <ion-grid *ngIf="playlistsFlag === true">
    <ion-row (click)="openPlaylist(playlist.id)" *ngFor="let playlist of playlists">
        <ion-col size="4">
          <img width="100%" src="{{playlist.images[0].url}}">
        </ion-col>
        <ion-col>
          <h4 style="color:#ffc409">{{playlist.name}}</h4><br>
          <h6 style="color:#92949c">{{playlist.tracks.total}} Songs</h6>
        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="artistsFlag">
  <ion-row *ngFor="let artist of artists">
        <ion-col size="4">
          <img width="100%" src="{{artist.images[0].url}}">
        </ion-col>
        <ion-col>
          <h4 style="color:#ffc409">{{artist.name}}</h4><br>
          <h6 style="color:#92949c">{{artist.followers.total}} Followers</h6>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
