<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Guns & Roses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
    <ion-row >
      <ion-col size="6" *ngFor="let playlist of playlists">
      <ion-row>
        <ion-col size="6">
          <img width="100%" src="{{playlist.images[0].url}}">
        </ion-col>
        <ion-col>
          <p style="color:#ffc409;font-size: 14px;">{{playlist.name}}</p>
          <p style="color:#92949c;font-size: 12px; ">{{playlist.tracks.total}} Songs</p>
        </ion-col>
      </ion-row>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <ion-title>
      Recommendations
    </ion-title>
  </ion-toolbar>
</ion-content>
